<div class="root">
    <div class="notFound-bg">
        <img class src="../../assets/img/agrovants.webp" alt="Agrovants Logo">
        <p style="text-align: center; font-weight: bolder; color: red;">La página solicitada no ha sido encontrada<br>o
            no tiene permiso para el recurso solicitado.<br>Contacte al Administrador.</p>
        <div class="notFound-options">
            <button mat-raised-button color="primary" (click)="this.globalsService.goHome()">Regresar</button>
            <button mat-raised-button color="primary" (click)="this.globalsService.goLogin()">Login</button>
        </div>
    </div>
</div>
