<div class="login">
    <div class="login__container">
        <mat-card>
            <h3>Cambiar contraseña</h3>
            <form [formGroup]="changePassForm" (ngSubmit)="changePassword()">
                <mat-form-field appearance="fill">
                    <mat-label>Nueva contraseña</mat-label>
                    <input formControlName="newPassword" matInput type="password"
                        placeholder="Ingrese nueva contraseña">
                    <mat-error *ngIf="changePassForm.get('newPassword')?.errors?.required">Este campo es
                        obligatorio</mat-error>
                    <mat-error *ngIf="changePassForm.get('newPassword')?.errors?.minlength">La contraseña debe tener al
                        menos 6 caracteres</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Confirmar nueva contraseña</mat-label>
                    <input formControlName="confirmPassword" matInput type="password"
                        placeholder="Confirme nueva contraseña">
                    <mat-error *ngIf="changePassForm.get('confirmPassword')?.errors?.required">Este campo es
                        obligatorio</mat-error>
                    <mat-error *ngIf="passwordsDoNotMatch">Las contraseñas no coinciden</mat-error>
                </mat-form-field>

                <div class="action-buttons">
                    <button mat-flat-button color="primary" type="submit" [disabled]="sendingRequest">Cambiar
                        Contraseña</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>
