@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

/* Fonts */
$mainFont: 'Nunito', sans-serif;

/* Colors */
$mainColor: #0B8D38;
$secondaryColor: #F4B631;
$backgroundColor: #182A1E;

$accentColor: #00afef;
$warnColor: #f43131;

$grey: #B6B6B6;
$darkGrey: #646464;
$black-A-85: rgba($color: #000000, $alpha: 0.85);
$black-A-50: rgba($color: #000000, $alpha: 0.50);
$black-A-15: rgba($color: #000000, $alpha: 0.15)
