<div class="root">
    <app-sidebar></app-sidebar>
    <div class="config-bg">
        <div class="config-cont">
            <h2>Cambio de contraseña</h2>

            <div class="formData">
                <form class="mat-form" [formGroup]="passwordForm" autocomplete="off">

                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Ingrese contraseña anterior</mat-label>
                        <input matInput [type]="hidePreviousPass ? 'password' : 'text'" placeholder="Ingrese contraseña"
                            formControlName="ContraseniaUsuarioAnterior">
                        <button mat-icon-button matSuffix (click)="hidePreviousPass = !hidePreviousPass"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePreviousPass">
                            <mat-icon>{{hidePreviousPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="notValidField('ContraseniaUsuarioAnterior')">{{ previousPasswordErrorMsg
                            }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Ingrese la nueva contraseña</mat-label>
                        <input matInput [type]="hidePass ? 'password' : 'text'" placeholder="Ingrese contraseña"
                            formControlName="ContraseniaUsuario">
                        <button mat-icon-button matSuffix (click)="hidePass = !hidePass"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
                            <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="notValidField('ContraseniaUsuario')">{{ passwordErrorMsg }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Repita la nueva contraseña</mat-label>
                        <input matInput [type]="hidePass2 ? 'password' : 'text'" placeholder="Ingrese contraseña"
                            formControlName="ContraseniaUsuario2">
                        <button mat-icon-button matSuffix (click)="hidePass2 = !hidePass2"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass2">
                            <mat-icon>{{hidePass2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="notValidField('ContraseniaUsuario2')">{{ password2ErrorMsg }}</mat-error>
                    </mat-form-field>

                    <div style="display: flex; align-items: center; justify-content: space-between">
                        <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
                        <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.pending"
                            cdkFocusInitial (click)="onSubmit()">Guardar</button>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>
