<div class="references">
    <div class="references__toggle" (click)="this.mapService.toggleReferences()">

        <svg xmlns="https://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-squares-filled" width="20"
            height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="8" y="8" width="12" height="12" rx="2" />
            <path d="M8 14.5l6.492 -6.492" />
            <path d="M13.496 20.004l6.504 -6.504l-6.504 6.504z" />
            <path d="M8.586 19.414l10.827 -10.827" />
            <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" />
        </svg>

    </div>


    <div id="ol-referencia" class="ol-referencia premium-scale MAIN">
        <div class="extra-info-layer">
            <div><span>NDVI</span> </div>
            <!-- <div class="aura-dropdown premium-dropdown "
                style="position: absolute; top: -2px; left: unset; right: 0px;"></div> -->
        </div>
        <div class="scale premium-scale">
            <div class="scale-gradient" style="background: linear-gradient(
                            #880e4f,
                            #d50000,
                            #bf360c,
                            #ff6f00,
                            #ffff00,
                            #c6ff00,
                            #afb42b,
                            #558b2f,
                            #1b5320,
                            #004d40
                    ); transform: rotate(0deg);">
            </div>
            <div class="numbers">
                <span> -1 a 0,1</span>
                <span>0.1 a 0.2</span>
                <span>0.2 a 0.3</span>
                <span>0.3 a 0.4</span>
                <span>0.4 a 0.5</span>
                <span>0.5 a 0.6</span>
                <span>0.6 a 0.7</span>
                <span>0.7 a 0.8</span>
                <span>0.8 a 0.9</span>
                <span>0.9 a 1</span>
            </div>
        </div>

    </div>



</div>
