@use 'node_modules/@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css';
@use "../0-abstracts/variables" as *;

/* Control icon */
.leaflet-pm-toolbar .control-icon {
    filter: invert(100%);
    width: 85%;
    height: 85%;
}

/* Control border radius */
.leaflet-pm-toolbar {
    .button-container:first-child a.leaflet-buttons-control-button {
        border-radius: 0.5rem 0.5rem 0 0;
    }
    .button-container:first-child.button-container:last-child a.leaflet-buttons-control-button {
        border-radius: 0.5rem;
    }
    .button-container:first-child.pos-right.active a.leaflet-buttons-control-button {
        border-top-left-radius: 0.5rem;
    }
    .button-container:last-child a.leaflet-buttons-control-button {
        border-radius: 0 0 0.5rem 0.5rem;
    }
}

/* Control active */
.leaflet-buttons-control-button:hover, .leaflet-buttons-control-button:focus {
    box-shadow: none;
    background-color: $black-A-85;
}

/* Control action */
.button-container .leaflet-pm-actions-container {
    top: 0.35rem;

    .leaflet-pm-action {
        background-color: #444;
        font-family: $mainFont;
        width: 9rem;
    }
}