<div class="root">
    <app-sidebar></app-sidebar>
    <div class="admin-bg">
        <div class="admin-cont">
            <div class="backup-header">
                <h2>Copias de Seguridad</h2>
                <button mat-button color="warn" (click)="logout()">
                    <mat-icon>logout</mat-icon> Salir de Backups
                </button>
            </div>
            <mat-tab-group>
                <mat-tab label="Backups Manuales">
                    <div class="tab-content">
                        <app-backup-manual></app-backup-manual>
                    </div>
                </mat-tab>
                <mat-tab label="Backups Automáticos">
                    <div class="tab-content">
                        <app-backup-auto></app-backup-auto>
                    </div>
                </mat-tab>
                <mat-tab label="Log General">
                    <div class="tab-content">
                        <app-backup-log></app-backup-log>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
