<!-- New Password - Repeat Pass FORM -->
<div class="login">
    <div class="login__img">
        <img src="/assets/img/agrovants.svg" alt="Agrovants Logo">
    </div>
    <div class="login__container">
        <mat-card>
            <!--TODO: MAKE RESET PASSWORD RESPONSIVE -->
            <h3 style="text-align:center;">Para reestablecer la contraseña, ingrese su correo electrónico</h3>
            <form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()" autocomplete="off">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input formControlName="emailUsuario" matInput placeholder="Ingrese su email" type="email">
                    <mat-error *ngIf="notValidField('emailUsuario')">{{ emailErrorMsg }}</mat-error>
                </mat-form-field>
                <div class="action-buttons">
                    <button mat-flat-button type="button" color="warn" routerLink="/auth/login">Volver</button>
                    <button mat-flat-button type="submit" color="primary"
                        [disabled]="resetPassForm.pending">Enviar</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>
